<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="NTP_Projekt.Properties.Settings.ntp_projektConnectionString"
            connectionString="Data Source=DESKTOP-9N8RF1B\SQLEXPRESS;Initial Catalog=ntp_projekt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ntp_projektEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E0LVP3A;initial catalog=ntp_projekt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="ntp_projektEntities1" connectionString="metadata=res://*/ntpProjekt.csdl|res://*/ntpProjekt.ssdl|res://*/ntpProjekt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E0LVP3A;initial catalog=ntp_projekt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CountryInfoServiceSoapBinding" />
                <binding name="NTPSoapSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CountryInfoServiceSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" binding="basicHttpBinding" bindingConfiguration="CountryInfoServiceSoapBinding" contract="CountryInfoService.CountryInfoServiceSoapType" name="CountryInfoServiceSoap" />
            <endpoint address="http://localhost:13578/NTPSoap.asmx" binding="basicHttpBinding" bindingConfiguration="NTPSoapSoap" contract="NTPSoapService.NTPSoapSoap" name="NTPSoapSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>